<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylink.wfms.cfgSysRegistry.dao.CfgSysRegistryMapper" >
  <resultMap id="BaseResultMap" type="com.ylink.wfms.cfgSysRegistry.entity.CfgSysRegistry" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="DECIMAL" />
    <result column="DELETE_MARK" property="deleteMark" jdbcType="DECIMAL" />
    <result column="CREATOR_CODE" property="creatorCode" jdbcType="VARCHAR" />
    <result column="CREATOR_NAME" property="creatorName" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="LAST_MODIFY_TIME" property="lastModifyTime" jdbcType="TIMESTAMP" />
    <result column="LAST_MODIFIER_CODE" property="lastModifierCode" jdbcType="VARCHAR" />
    <result column="LAST_MODIFIER_NAME" property="lastModifierName" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="RESERVED1" property="reserved1" jdbcType="VARCHAR" />
    <result column="RESERVED2" property="reserved2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, CODE, NAME, STATE, DELETE_MARK, CREATOR_CODE, CREATOR_NAME, CREATE_TIME, LAST_MODIFY_TIME, 
    LAST_MODIFIER_CODE, LAST_MODIFIER_NAME, REMARK, RESERVED1, RESERVED2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ylink.wfms.cfgSysRegistry.entity.CfgSysRegistryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from WFMS.CFG_SYS_REGISTRY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from WFMS.CFG_SYS_REGISTRY
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from WFMS.CFG_SYS_REGISTRY
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ylink.wfms.cfgSysRegistry.entity.CfgSysRegistryExample" >
    delete from WFMS.CFG_SYS_REGISTRY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ylink.wfms.cfgSysRegistry.entity.CfgSysRegistry" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      select sys_guid() from dual
    </selectKey>
    insert into WFMS.CFG_SYS_REGISTRY (ID, CODE, NAME, 
      STATE, DELETE_MARK, CREATOR_CODE, 
      CREATOR_NAME, CREATE_TIME, LAST_MODIFY_TIME, 
      LAST_MODIFIER_CODE, LAST_MODIFIER_NAME, REMARK, 
      RESERVED1, RESERVED2)
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{state,jdbcType=DECIMAL}, #{deleteMark,jdbcType=DECIMAL}, #{creatorCode,jdbcType=VARCHAR}, 
      #{creatorName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastModifyTime,jdbcType=TIMESTAMP}, 
      #{lastModifierCode,jdbcType=VARCHAR}, #{lastModifierName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{reserved1,jdbcType=VARCHAR}, #{reserved2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ylink.wfms.cfgSysRegistry.entity.CfgSysRegistry" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      select sys_guid() from dual
    </selectKey>
    insert into WFMS.CFG_SYS_REGISTRY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      ID,
      <if test="code != null" >
        CODE,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="deleteMark != null" >
        DELETE_MARK,
      </if>
      <if test="creatorCode != null" >
        CREATOR_CODE,
      </if>
      <if test="creatorName != null" >
        CREATOR_NAME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="lastModifyTime != null" >
        LAST_MODIFY_TIME,
      </if>
      <if test="lastModifierCode != null" >
        LAST_MODIFIER_CODE,
      </if>
      <if test="lastModifierName != null" >
        LAST_MODIFIER_NAME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="reserved1 != null" >
        RESERVED1,
      </if>
      <if test="reserved2 != null" >
        RESERVED2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=VARCHAR},
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=DECIMAL},
      </if>
      <if test="deleteMark != null" >
        #{deleteMark,jdbcType=DECIMAL},
      </if>
      <if test="creatorCode != null" >
        #{creatorCode,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null" >
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null" >
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifierCode != null" >
        #{lastModifierCode,jdbcType=VARCHAR},
      </if>
      <if test="lastModifierName != null" >
        #{lastModifierName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="reserved1 != null" >
        #{reserved1,jdbcType=VARCHAR},
      </if>
      <if test="reserved2 != null" >
        #{reserved2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ylink.wfms.cfgSysRegistry.entity.CfgSysRegistryExample" resultType="java.lang.Integer" >
    select count(*) from WFMS.CFG_SYS_REGISTRY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update WFMS.CFG_SYS_REGISTRY
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null" >
        CODE = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=DECIMAL},
      </if>
      <if test="record.deleteMark != null" >
        DELETE_MARK = #{record.deleteMark,jdbcType=DECIMAL},
      </if>
      <if test="record.creatorCode != null" >
        CREATOR_CODE = #{record.creatorCode,jdbcType=VARCHAR},
      </if>
      <if test="record.creatorName != null" >
        CREATOR_NAME = #{record.creatorName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastModifyTime != null" >
        LAST_MODIFY_TIME = #{record.lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastModifierCode != null" >
        LAST_MODIFIER_CODE = #{record.lastModifierCode,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModifierName != null" >
        LAST_MODIFIER_NAME = #{record.lastModifierName,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.reserved1 != null" >
        RESERVED1 = #{record.reserved1,jdbcType=VARCHAR},
      </if>
      <if test="record.reserved2 != null" >
        RESERVED2 = #{record.reserved2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update WFMS.CFG_SYS_REGISTRY
    set ID = #{record.id,jdbcType=VARCHAR},
      CODE = #{record.code,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      STATE = #{record.state,jdbcType=DECIMAL},
      DELETE_MARK = #{record.deleteMark,jdbcType=DECIMAL},
      CREATOR_CODE = #{record.creatorCode,jdbcType=VARCHAR},
      CREATOR_NAME = #{record.creatorName,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      LAST_MODIFY_TIME = #{record.lastModifyTime,jdbcType=TIMESTAMP},
      LAST_MODIFIER_CODE = #{record.lastModifierCode,jdbcType=VARCHAR},
      LAST_MODIFIER_NAME = #{record.lastModifierName,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      RESERVED1 = #{record.reserved1,jdbcType=VARCHAR},
      RESERVED2 = #{record.reserved2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ylink.wfms.cfgSysRegistry.entity.CfgSysRegistry" >
    update WFMS.CFG_SYS_REGISTRY
    <set >
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=DECIMAL},
      </if>
      <if test="deleteMark != null" >
        DELETE_MARK = #{deleteMark,jdbcType=DECIMAL},
      </if>
      <if test="creatorCode != null" >
        CREATOR_CODE = #{creatorCode,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null" >
        CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null" >
        LAST_MODIFY_TIME = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifierCode != null" >
        LAST_MODIFIER_CODE = #{lastModifierCode,jdbcType=VARCHAR},
      </if>
      <if test="lastModifierName != null" >
        LAST_MODIFIER_NAME = #{lastModifierName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="reserved1 != null" >
        RESERVED1 = #{reserved1,jdbcType=VARCHAR},
      </if>
      <if test="reserved2 != null" >
        RESERVED2 = #{reserved2,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ylink.wfms.cfgSysRegistry.entity.CfgSysRegistry" >
    update WFMS.CFG_SYS_REGISTRY
    set CODE = #{code,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=DECIMAL},
      DELETE_MARK = #{deleteMark,jdbcType=DECIMAL},
      CREATOR_CODE = #{creatorCode,jdbcType=VARCHAR},
      CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      LAST_MODIFY_TIME = #{lastModifyTime,jdbcType=TIMESTAMP},
      LAST_MODIFIER_CODE = #{lastModifierCode,jdbcType=VARCHAR},
      LAST_MODIFIER_NAME = #{lastModifierName,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      RESERVED1 = #{reserved1,jdbcType=VARCHAR},
      RESERVED2 = #{reserved2,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>